<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
</head>
<body>
	{% if data %}
	<table border="1" width="50%">
		<thead>
			<tr>
				<th>#</th>
				<th>name</th>
				<th>mobile</th>
				<th>address</th>
				<th>selectop</th>
				<th>levellink</th>
			</tr>
		</thead>
		<tbody>
			{% for i in data %}
				<tr>
					<td><a href="http://localhost:8000/home/showfilter/{{ i.id }}" >{{ i.id }}</a></td>
					<td>{{ i.name }}</td>
					<td>{{ i.mobile }}</td>
					<td>{{ i.address }}</td>
					<td>{{ i.selectop }}</td>
					<td>{{ i.levellink }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<h1>There is no data</h1>
	{% endif %}
</body>
</html>